@import '../../scss/mixin';
.container{
    &__appbar{
        background-color: white;
       
    }
    &__alignment{
    justify-content: space-between;
    // @media only screen and (max-width: 1023px) {
    //     justify-content: flex-start;
    //   }
    margin: 0 auto;
    // text-align: center;
    // padding: 60px 0;
    width: 100%;
    @include for-large-desktop{
        max-width: 1440px;
    }
    }
    &__logo{
        width: 100%;
        margin: 0 auto;
        text-align: left;
       @media only screen and (min-width: 900px) {
        width: auto;
        margin: 0;
      } 
    }
&__links{
    color: #333;
    text-decoration: none;
    padding: 19px 0;
    display: inline-block;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 2px solid;
        transition: all 400ms ease-in-out;
        color: #059b74;
    }
}
&__drawer{
    background-color: #fff;
}
}