.carousel {
    overflow: hidden;
    position: relative;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // height: 400px;
    // background-color: green;
    color: #333;
    white-space: break-spaces;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
  }
  .indicators > .prev{
    position: absolute;
    left: 0;
    top: 50%;
    background: transparent;
    border:none;
  }
  .indicators > .next{
    position: absolute;
    right: 0;
    top: 50%;
    background: transparent;
    border:none;
  }
  .indicators > button {
    margin: 5px;
  }
  
  .indicators > button.active {
    background-color: green;
    color: #fff;
  }
  